/* 
    General Styling
    Renders all divs as box
    Grows all div relative to container size
*/
div {
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    
    flex-grow: 1;
}

.box__main {
    width: 80vw;
    height: 80vh;
    border: 5px solid black;

    margin: auto;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Make box larger than siblings */
.box__center {
    flex-grow: 2;
}
